.card-label_container{
    position: absolute;
    bottom: 90px;
    right: 0px;
}
.card-label_content{
    display: flex;
    align-items: center;
    background-color: #0d0d0dbe;
    height: 30px;
    padding: 0 50px;
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}