<div class="home_container">
    <app-card gametype="DIGITAL PS4" gameLabel="Exclusive" price="R$ 39,99" cardCover="assets/bt-1.jpg"></app-card>
    <app-card gametype="PS4" gameLabel="Exclusive" price="R$ 239,99" cardCover="assets/bt-4.jpg"></app-card>
    <app-card gametype="DIGITAL" gameLabel="Exclusive" price="R$ 139,99" cardCover="assets/bt-5.jpg"></app-card>
    <app-card gametype="DIGITAL | PS4" gameLabel="Exclusive" price="R$ 249,99" cardCover="assets/ac-cover.jpg"></app-card>
    <app-card gametype="PS3 | PS4" gameLabel="NEW" price="R$ 339,99" cardCover="assets/bt-bad-company-2.jpg"></app-card>
    <app-card gametype="PS4 | PS5" gameLabel="NEW" price="R$ 89,99" cardCover="assets/bt-hardline.jpg"></app-card>
</div>